.allorder_screen_container {
  padding-top: 115px;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background-color: #f4f4f4;
  background-image: radial-gradient(
      rgba(247, 199, 236, 0.25) 30px,
      transparent 30px
    ),
    radial-gradient(rgba(247, 199, 236, 0.25) 30px, transparent 30px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}

.allorder_Bottom {
  max-width: 90%;
}

.allorder_title {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-right: 0.2rem;
}

.allorder_loading_div {
  text-align: center;
  margin-bottom: 1rem;
}

.allorder_error_message {
  margin-bottom: 1rem;
}
.allorder_table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  font-size: 15px;
  background-color: #f4f4f4;
}

.allorder_table tbody tr:nth-of-type(odd) {
  background-color: #fcd1fc;
}

.allorder_table td,
.allorder_table th {
  text-align: center;
  border: 0.1rem solid #dab6ce;
  padding: 1rem 1rem;
}

.allorder_table th {
  font-weight: 600;
}

.allorder_table_button button {
  font-size: 15px;
  width: 70px;
  padding: 0.2rem 0;
  margin: 0.2rem;
  background-color: #fb637e;
  color: #f4f4f4;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.allorder_table_button button:hover {
  background-color: #fd4d6d;
}

.allorder_table_button button:active {
  background-color: #d1566c;
}

@media (max-width: 50rem) {
  .allorder_table {
    font-size: 13px;
  }
}

@media (max-width: 46rem) {
  .allorder_screen_container {
    padding-top: 44px;
  }

  .allorder_table {
    font-size: 13px;
  }

  .allorder_table td,
  .allorder_table th {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 40rem) {
  .allorder_table td p {
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .allorder_username {
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .allorder_table_button button {
    font-size: 12px;
    width: 50px;
    padding: 0.3rem 0;
    margin: 0.2rem 0.1rem;
  }
}

@media (max-width: 36rem) {
  .allorder_screen_container {
    padding-top: 38px;
  }

  .allorder_table {
    font-size: 12px;
  }

  .allorder_table td,
  .allorder_table th {
    padding: 1rem 0.1rem;
  }
}

@media (max-width: 25rem) {
  .allorder_screen_container {
    padding-top: 85px;
  }
  .allorder_Bottom {
    width: 95%;
  }

  .allorder_table th {
    font-size: 12px;
  }

  .allorder_title {
    margin-left: 0.2rem;
  }
}

@media (max-width: 21rem) {
  .allorder_table td p {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .allorder_username {
    max-width: 35px;
  }

  .allorder_table_button button {
    font-size: 11px;
    width: 45px;
    padding: 0.3rem 0;
    margin: 0.2rem 0.1rem;
  }
}
