.edit_product_screen_container {
  padding-top: 115px;
  padding-top: 115px;
  min-height: 90vh;
  display: flex;
  justify-content: center;

  background-color: #f4f4f4;
  background-image: radial-gradient(
      rgba(247, 199, 236, 0.25) 30px,
      transparent 30px
    ),
    radial-gradient(rgba(247, 199, 236, 0.25) 30px, transparent 30px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}

@media (max-width: 46rem) {
  .edit_product_screen_container {
    padding-top: 44px;
  }
}

@media (max-width: 36rem) {
  .edit_product_screen_container {
    padding-top: 38px;
  }
}

@media (max-width: 25rem) {
  .edit_product_screen_container {
    padding-top: 79px;
  }
}
